.custom-search{
position:absolute;
right:20px;
top:27px;
}
.custom-search .express-form-typeahead{
background-color:transparent;
background:url(../images/search-btn-mobile.png) center center no-repeat;
background-position:5px center;
background-repeat:no-repeat;
background-size:24px 24px;
border:none;
cursor:pointer;
height:37px;
margin:3px 0;
padding:0 0 0 34px;
position:relative;
-webkit-transition:width 400ms ease, background 400ms ease;
transition:width 400ms ease, background 400ms ease;
width:0;  
}
.custom-search .express-form-typeahead:focus{
background-color:#fff;
border:#3d9fd9 2px solid;
cursor:text;
outline:0;
width:230px;
}
.custom-search .search-btn{
display:none;
}
.custom-search input[type="search"]{
-webkit-appearance: textfield;
}